input.input {
    border: 1px solid $dark-gray;
    padding: 0.5rem;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
}

.about--cover {
    background: #84dbe2;
    position: relative;
    img.cover {
        width: 40%;
        max-width: 100%;
    }
    .about-text {
        position: absolute;
        right: 5em;
        top: 20%;
        width: 30%;
        h2 {
            font-size: 40px;
            color: $white;
            margin: 0;
        }
        span {
            font-size: 14px;
            color: $dark-gray;
        }
    }
}

.how-we-work {
    @extend %full--width;
    margin-top: 2.5rem;
    h3 {
        text-align: center;
        font-size: 34px;
        margin-bottom: 1rem;
    }
    > p {
        text-align: center;
    }
    .working {
        margin-bottom: 1rem;
        margin-top: 2rem;
        display: inline-block;
        width: 49%;
        text-align: center;
        vertical-align: top;
        h2 {
            margin: 0;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        div {
            width: 80%;
            margin: auto;
            p,
            h2 {
                color: $dark-gray;
            }
        }
    }
}

.full--width-max {
    background: $bg-pink;
    div {
        max-width: 980px;
        margin: auto;
        padding: 2rem 0;
        p {
            width: 75%;
            display: inline-block;
            color: $white;
            font-size: 22px;
            font-weight: 100;
        }
        a {
            display: inline-block;
            background: $blue;
            color: $white;
            padding: 0.8rem 1.4rem;
            text-transform: uppercase;
            font-weight: 300;
            &:after {
                background: url("../assets/icons/send.svg");
                display: inline-block;
                background-repeat: no-repeat;
                content: '';
                width: 29px;
                height: 24px;
                vertical-align: middle;
                margin-left: 30px;
            }
        }
    }
}