body {
    font-family: $fly-primary;
    background: #fefefe;
}

.max-width {
    max-width: 1180px;
    margin: auto;
}

.bold {
    font-weight: 600;
}

a {
    text-decoration: none;
    &:hover {
        -webkit-transition: all 0.7s ease-in-out 0s;
        -moz-transition: all 0.7s ease-in-out 0s;
        -o-transition: all 0.7s ease-in-out 0s;
        transition: all 0.7s ease-in-out 0s;
    }
}

input:hover {
    -webkit-transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s;
}

h2 {
    font-family: $fly-secondary;
}

%btn {
    background: $pink;
    font-weight: 300;
    color: $white;
    border-radius: 3px;
    padding: 10px 20px;
}

%btn-blu {
    font-size: 12px;
    background: $blue;
    font-weight: 300;
    border: none;
    color: $white;
    border-radius: 3px;
    padding: 10px 20px;
}