* {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

body {
    font-family: $fly-primary;
    background: #fefefe;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

p,
span,
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.max-width {
    max-width: 1180px;
    margin: auto;
}

.bold {
    font-weight: 600;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    &:hover {
        -webkit-transition: all 0.7s ease-in-out 0s;
        -moz-transition: all 0.7s ease-in-out 0s;
        -o-transition: all 0.7s ease-in-out 0s;
        transition: all 0.7s ease-in-out 0s;
    }
}

input:hover {
    -webkit-transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s;
}

%btn {
    background: $pink;
    font-weight: 600;
    color: $white;
    border-radius: 3px;
    padding: 10px 20px;
}

%btn-blu {
    font-size: 12px;
    background: $blue;
    font-weight: 400;
    border: none;
    color: $white;
    border-radius: 3px;
    padding: 10px 20px;
}

%icon {
    text-indent: -9999px;
    display: inline-block;
    border: none;
}

%full--width,
.full---width {
    max-width: 68.5rem;
    margin-right: auto;
    margin-left: auto;
}

.show {
    display: block !important;
}

.remove {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

// Checkmark global theming
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    @media screen and (max-width: 768px) {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
    cursor: pointer;
    font-size: 14px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid $dark-gray;
    background: $white;
}

.control {
    &:hover input~.control__indicator {
        background: $white;
    }
    input {
        &:focus~.control__indicator {
            background: $white;
        }
        &:checked~.control__indicator {
            background: $brand;
        }
    }
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox {
    .control__indicator:after {
        left: 6px;
        top: 4px;
        width: 5px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    input:disabled~.control__indicator:after {
        border-color: #7b7b7b;
    }
}

.help--box {
    padding: 1.5rem !important;
    img,
    div {
        display: inline-block;
        vertical-align: middle;
    }
    p,
    span {
        padding-left: 1rem;
    }
    p {
        color: $heading;
        font-size: 22px;
        margin: 0;
    }
    span {
        font-size: 14px;
        color: $dark-gray;
        a {
            color: $dark-gray;
        }
    }
}

.bg-blue {
    background: $blue-back;
    color: $dark-gray;
}

.morelink {
    color: $link;
    display: block;
    text-align: center;
    margin: 0.5rem 0;
    text-transform: capitalize;
}

// Select 2
.select2-dropdown {
    border: 1px solid $dark-border !important;
    border-top: 0 !important;
    li.select2-results__option {
        margin: 0 !important;
        font-size: 14px !important;
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
    background: $background-blue !important;
}

.hdpi.pac-logo:after {
    display: none !important;
}