.blog--landing {
    .hero--blog {
        max-width: 1140px;
        margin: auto;
        padding: 0 1rem;
        background: $bg-gray;
        display: flex;
        h2 {
            font-size: 18px;
            font-weight: 600;
        }
        .hero--image,
        img {
            flex: 1;
        }
        h2 {
            color: $text-over-bg;
        }
        .hero--image {
            padding: 2rem 3rem;
            p {
                color: $gray;
            }
            p.teaser {
                font-family: $fly-secondary;
                color: $text-over-bg;
            }
            a {
                color: $blue;
                font-size: 13px;
            }
        }
    }
    .latest--articles {
        @extend %full--width;
        li {
            display: flex;
            .teaser-article {
                display: flex;
                padding: 0;
                width: 50%;
                border: 1px solid $light-border;
                &:first-child {
                    margin-right: 2rem;
                }
                .author {
                    position: absolute;
                    bottom: 1rem;
                    width: 100%;
                    img {
                        width: 50px;
                        height: auto;
                        border-radius: 100%;
                        vertical-align: middle;
                        display: inline-block;
                    }
                    .credts {
                        vertical-align: middle;
                        width: 70%;
                        display: inline-block;
                        margin-left: 10px;
                        span {
                            display: block;
                            font-size: 14px;
                        }
                        .name {
                            font-weight: 600;
                        }
                        .date {
                            font-size: 12px;
                        }
                    }
                }
                .sharing {
                    position: absolute;
                    bottom: 2rem;
                    right: 2rem;
                }
            }
            .teaser--div {
                margin-left: 1.5rem;
                position: relative;
                h3 {
                    font-size: 22px;
                    margin-bottom: 0;
                }
                .teaser {
                    color: $dark-gray;
                    -webkit-line-clamp: 3!important;
                }
            }
        }
    }
}

.divider {
    border-bottom: 1px solid #e4e4e4;
    margin: 3rem 0;
}