.destination {
    header.alternate {
        box-shadow: 0px 1px 9px #888888;
    }
    .info {
        li,
        span {
            font-size: 12px;
            list-style: none;
            display: inline-block;
        }
        span {
            color: $dark-gray !important;
        }
        li {
            border: 1px solid $blue;
            padding: 5px 8px;
            border-radius: 10px;
            color: $dark-gray;
        }
    }
}

.destination--hero {
    display: flex;
    width: 1280px;
    margin: auto;
    .left--destination,
    .right--destination {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img {
            width: 720px;
            height: auto;
        }
    }
    .left--destination {
        .location,
        h2,
        .info {
            padding: 0 2rem;
            margin: 0;
        }
        >span,
        >.map {
            padding: 0 2rem;
            margin: 0;
        }
        h2 {
            font-size: 60px;
        }
        span {
            color: #a3a3a3;
        }
    }
}

.destination--info {
    background: $bg-gray;
    .dest {
        max-width: 1140px;
        margin: auto;
        padding: 3rem 1rem 0;
        h3 {
            font-size: 38px;
            margin: 0;
        }
        p {
            font-size: 20px;
            width: 50%;
            display: inline-block;
            color: $text-over-bg;
        }
    }
}