footer {
    padding: 1.5rem 0;
    background: $background-blue;
    color: $white;
    ul {
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 0.5rem;
            a {
                color: $white;
                font-size: 14px;
            }
        }
    }
    .connect {
        text-align: center;
        a {
            margin: 0 10px;
        }
    }
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 3rem;
}