footer {
    padding: 1.5rem 0;
    background: #245f76;
    padding-top: 0;
    color: $white;
    ul {
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 0.5rem;
            a {
                color: $white;
                font-size: 14px;
            }
        }
    }
    .connect {
        text-align: center;
        a {
            margin: 0 10px;
        }
    }
    .secondary--footer {
        padding: 1.5rem 0;
        background: $background-blue;
        margin-bottom: 1.5rem;
    }
    .sec-ftr {
        @extend %full--width;

       > span {
            padding: 1rem;
            padding-left: 0;
            margin: 1rem 0;
            border-right: 1px solid #cecece;
            display: inline-block;
            font-size: 18px;
        }
        .footer-phone,
        .quote {
            display: inline-block;
            vertical-align: middle;
        }
        .quote {
            float: right;
            margin-top: 1rem;
            background: none;
            font-weight: 600;
            padding: 1rem 2rem;
            border-radius: 5px;
            border: 1px solid $white;
        }
        .footer-phone {
            margin-left: 2rem;
            span {
                display: block;
                vertical-align: middle;
            }
            .tel {
                font-weight: 600;
                font-size: 24px;
            }
            .tagl {
                font-size: 10px;
            }
        }
    }
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 3rem;
}