//Sign and resgister page theming
:focus {
    outline: none;
}

.get--in {
    margin: 1rem 0;
    img {
        max-width: 100%;
    }
    .left {
        img {
            width: 75%;
        }
        p {
            font-size: 22px;
            font-weight: 300;
        }
    }
    .right {
        ul.form {
            width: 50%;
        }
        .disabled,
        .enabled {
            display: inline-block;
            margin-right: 1.5rem;
            padding: 2px;
            cursor: pointer;
            font-weight: 600;
        }
        .disabled {
            color: $dark-gray;
        }
        .enabled {
            color: $white;
            background: $heading;
            border-radius: 10px;
            padding: 10px 20px;
        }
        .register {
            display: none;
        }
    }
    display: flex;
    .left,
    .right {
        flex: 1;
        width: 50%;
        margin: auto;
    }
    .submit {
        @extend %btn-blu;
        width: 50%;
    }
}