//Sign and resgister page theming
:focus {
    outline: none;
}

.get--in {
    position: relative;
    .sign--in {
        max-width: 380px;
        padding: 0 1rem;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 4rem;
        @media screen and (max-width: 768px) {
            margin-top: 3rem;
        }
    }
    margin: 1rem 0;
    img {
        max-width: 100%;
    }
    .left {
        img {
            width: 75%;
        }
        p {
            font-size: 22px;
            font-weight: 300;
        }
    }
    .right {
        ul.form {
            width: 50%;
        }
        .disabled,
        .enabled {
            display: inline-block;
            margin-right: 1.5rem;
            padding: 2px;
            cursor: pointer;
            font-weight: 600;
        }
        .disabled {
            color: $dark-gray;
        }
        .enabled {
            color: $white;
            background: $heading;
            border-radius: 10px;
            padding: 10px 20px;
        }
        .register {
            display: none;
        }
    }
    .submit {
        @extend %btn-blu;
        width: 100%;
        text-transform: uppercase;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -15%;
        left: 35%;
        right: 50%;
        width: 30%;
        height: 1px;
        background-image: linear-gradient(to right, transparent, #3986b6, transparent);
    }
}

.discl {
    text-align: center;
    max-width: 380px;
    margin: auto;
    font-size: 12px;
    margin-bottom: 2rem;
    padding: 0 1rem;
    a {
        color: $pink;
    }
    &.acc {
        font-size: 14px;
        font-weight: 600;
    }
}

// REGISTER PAGE
.register {
    position: relative;
    .container {
        max-width: 420px;
        padding: 0 1rem;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 4rem;
        @media screen and (max-width: 768px) {
            margin-top: 3rem;
        }
    }
    .submit {
        @extend %btn-blu;
        width: 100%;
        text-transform: uppercase;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -8%;
        left: 35%;
        right: 50%;
        width: 30%;
        height: 1px;
        background-image: linear-gradient(to right, transparent, #3986b6, transparent);
    }
}