header.hero.home {
    background: url("../assets/heros/hero.png") no-repeat;
    background-size: cover;
    height: 550px;
    color: $white;
}

header.hero {
    h1 {
        font-weight: 400;
        font-size: 24px;
        margin: 0;
        color: $white;
    }
    .main--nav {
        li {
            list-style: none;
            display: inline;
            a {
                color: $white;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 3.5rem;
    .main--nav,
    .search,
    .account {
        flex: 1;
    }
    .main--nav {
        text-align: right;
    }
    .search {
        position: relative;
        max-width: 200px;
        margin: 0 2.5rem;
    }
    input.input {
        border: none;
        border-radius: 20px;
        padding: 10px;
        padding-left: 20px;
        font-size: 12px;
        width: 180px;
    }
    input.button {
        position: absolute;
        right: 34px;
        top: 7px;
        background: url("../assets/misc/search.svg") no-repeat;
        width: 20px;
        height: 20px;
        @extend %icon;
    }
    .main--nav {
        li {
            margin: 0 1rem;
        }
    }
    .account {
        max-width: 30px;
        a {
            @extend %icon;
            background: url("../assets/icons/account.svg") no-repeat;
            width: 24px;
            height: 27px;
        }
    }
}

header.alternate {
    img {
        height: 17px;
        width: auto;
        vertical-align: middle;
        margin-right: 5px;
    }
    a {
        vertical-align: middle;
        color: #000000;
    }
    p {
        margin: 0;
    }
    div.secondary--header {
        background: $clean;
        width: 100%;
        display: inline-block;
        padding: 0.5rem;
    }
    .inside--secondary {
        @extend %full--width;
    }
    li {
        list-style: none;
        display: inline-block;
        margin: 0;
        margin-left: 2rem;
    }
}

.main--header {
    display: inline-block;
    width: 100%;
    box-shadow: 1px 1px 1px #cccccc;
    .menu--heading {
        @extend %full--width;
    }
    h1.logo {
        display: none;
    }
    img.fp--logo {
        height: 40px;
        width: auto;
        vertical-align: middle;
        margin-right: 5px;
        margin: 12px 0;
    }
    .main-menu {
        display: inline-block;
        margin-top: 1rem;
        text-transform: capitalize;
        font-weight: 300;
        a {
            color: #000;
        }
    }
}
.quote {
    color: $white;
    background: $pink;
    border: 1px solid $pink;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 13px;
    color: $white;
    cursor: pointer;
}