.single--package {
    @extend %full--width;
    margin-bottom: 4rem;
    display: flex;
    .owl-carousel.single--package {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        margin: 0;
    }
    .single--packing_desc {
        width: 37%;
        display: inline-block;
        vertical-align: top;
        margin-left: 2rem;
        .description {
            font-size: 14px;
            color: $text-over-bg;
        }
        .rating-star {
            color: $text-over-bg;
        }
    }
    .pack-heading {
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        span {
            font-size: 12px;
            display: block;
        }
    }
    .rating-form {
        margin-top: 0;
    }
    .price--tag {
        display: flex;
    }
    .price--starting,
    .select-2--wrapper {
        flex: 1;
    }
    .select-2--wrapper {
        .select2-selection__rendered {
            font-size: 18px;
        }
        span {
            font-size: 12px;
            color: $dark-gray;
        }
        .select2-container {
            margin-top: 5px;
            width: 155px !important;
            .select2-selection--single {
                height: 30px !important;
            }
        }
        .select2-selection__arrow {
            right: 0 !important;
            top: 0 !important;
            height: 29px;
            b {
                background: url("../assets/icons/select--arrow.svg");
                width: 19px !important;
                height: 13px !important;
                border-color: transparent !important;
                background-repeat: no-repeat;
                left: 18% !important;
                top: 27% !important;
                margin-left: -10px !important;
            }
        }
    }
    .price--starting {
        border-right: 1px solid #e9e9e9;
        margin-right: 1rem;
        padding-right: 1rem;
        >span {
            font-size: 12px;
            color: $dark-gray;
        }
        div.amount {
            font-size: 26px;
            font-weight: 600;
            color: $green;
            span {
                margin-right: 5px;
            }
        }
    }
}

.border {
    border: 1px solid $light-border;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 3px;
}

.darkborder {
    border: 1px solid $dark-border;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 3px;
}

.margin-top {
    margin-top: 1rem;
}

.select2-search--dropdown {
    display: none !important;
}

.select2-selection {
    border-radius: 0 !important;
}

.internal--perday {
    margin: 2rem 0;
    position: relative;
    &:before {
        top: -32px;
    }
    &:after {
        top: 42px;
    }
    &:after,
    &:before {
        position: absolute;
        content: "";
        background: $dark-border;
        width: 1px;
        left: 17px;
        height: 79%;
    }
    .dest-distance {
        position: absolute;
    }
    h5 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        color: $heading;
    }
    .arrival {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    .inc {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        span {
            margin-right: 10px;
            padding-right: 10px;
            position: relative;
            color: $dark-gray;
            &:after {
                content: ' ';
                position: absolute;
                background: $text-over-bg;
                width: 1px;
                height: 10px;
                right: 0;
                top: 5px;
            }
            &.last {
                &:after {
                    display: none;
                }
            }
        }
    }
    .day--today {
        font-weight: 800;
    }
}

.margin-top.bg-blue {
    font-size: 14px;
}

.checklist {
    list-style: none;
    border-bottom: 1px solid $light-border;
    margin-bottom: 1rem;
    padding-bottom: 6px;
    li {
        width: 32%;
        display: inline-block;
        margin: 0;
        padding-bottom: 10px;
        img {
            margin-right: 5px;
        }
    }
}

.inc--per--package {
    font-size: 14px;
    span {
        margin-right: 10px;
    }
    .label {
        font-weight: 600;
    }
}

.tag {
    background: $heading;
    display: inline-block;
    color: #fff;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 5px;
    right: 0;
    top: 35%;
}