* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cta {
    width: 100%;
    border: none;
    padding: 0.5rem 0;
    text-transform: uppercase;
    border-radius: 0;
    background: #ff7a34;
    color: #ffffff;
}

.main-content {
    @extend %full--width;
    display: flex;
}

.with--sidebar {
    width: 60%;
}

.sidebar {
    width: 37%;
    margin-left: 2rem;
}