* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -o-box-sizing: inherit;
}

*:focus {
    outline: none;
    border: 0;
}

.cta {
    width: 100%;
    border: none;
    padding: 0.5rem 0;
    text-transform: uppercase;
    border-radius: 0;
    background: #ff7a34;
    color: #ffffff;
}

.main-content {
    @extend %full--width;
    display: flex;
    @media screen and (max-width: 768px) {
        display: block;
        padding: 1rem;
    }
}

.with--sidebar {
    width: 60%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.sidebar {
    width: 37%;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
    }
}

.desktop--only {
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.mobile--only {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}