/*
 FONT FAMILY
 */

$fly-primary: 'Source Sans Pro',
sans-serif;
;
$fly-secondary: 'PT Serif',
serif;

/*
 FONT COLORS
 */

$white: #ffffff;
$pink: #df3b52;
$bg-pink: #e65679;
$gray: #c7c7c7;
$bg-gray: #f6f5f6;
$dark-gray: #545454;
$text-over-bg: #666467;
$clean: #EFEFEF;
$blue: #3986b6;
$cta: #ff7a34;
$green: #4caf50;
$background: #fdfdfe;

/*new--color */

$brand: #456da8;
$heading: #15386e;
$blue-back: #fafdff;
$link: #157498;
$light-border: #e9e9e9;
$dark-border: #d4e6ec;
$background-blue: #5096b1;

/*
 FONT SIZES
 */

$base-font-size: 16;
$base-line-height: 24;
$base-spacing-unit: $base-line-height;
$half-base-spacing-unit: $base-line-height/2;
.f-10 {
    @include font-size(10);
}

.f-12 {
    @include font-size(12);
}

.f-14 {
    @include font-size(14);
}

.f-16 {
    @include font-size(16);
}

.f-18 {
    @include font-size(18);
}

.f-20 {
    @include font-size(20);
}

.f-24 {
    @include font-size(24);
}